.App {
  text-align: center;
}

.CalculatorWrapper {
  width: 320px;
  margin: 0 auto 0 auto;
}

.last_operation {
  font-size: 1.4em;
  text-align: right;
  color: #909090;
}

#calculator-input {
  font-size: 2em;
  text-align: right;
  width: 100%;
  padding: 0;
  margin: 0;
  border: 0;
}

#calculator-input:focus {
  outline: none;
}

.buttonWrapper {}

.buttonWrapper button {
  width: 60px;
  height: 60px;
  margin: 0;
  margin-left: 4px;
  font-size: 1.4em;
}

.inputWrapper {
  border: 1px solid #c0c0c0;
  padding: 0 4px 0 4px;
}

.buttonsWrapper {
  margin-top: 4px;
  display: flex;
  justify-content: flex-end;
}